# Getting started with SQLite in Jupyter
There are two steps when using the SQLite Database connector in this Jupyter notebook:  
1. Connect to a SQLite database.
2. Execute queries.

We will demonstrate these two steps and some other additional information for this assignment.

In [1]:
%reload_ext sql
%reload_ext lib.sqlite.sqlite_evaluate_magic
import os

### Connecting to the database

In [2]:
# The following command will connect you to the database.
# Any query that you run after this cell will be run on the survey.db database instance.
survey_db_url = 'sqlite:///' + os.path.expanduser('~/data_readonly/sqlite/databases/survey.db')
%sql $survey_db_url

'Connected: @/home/jovyan/data_readonly/sqlite/databases/survey.db'

### Execute the first query
To execute a SQL query with the last connected database, start the cell with a magic line `%%sql` followed by the name of a Python variable used to store the query. After these magic commands, the rest of your text should be compatible with SQL language commands that the existing database connection will process. For this assignment, please do not change the Python variable names because we will use it for evaluation.

In [3]:
%%sql 
-- The query and results of the query will be saved to a variable named survey
survey << 
SELECT *
FROM survey;

 * @/home/jovyan/data_readonly/sqlite/databases/survey.db
 * sqlite:////home/jovyan/data_readonly/sqlite/databases/survey.db
Done.
Saving data to local variable survey['result']
Saving query to local variable survey['query']

[(619, 'dyer', 'rad', 9.82),
 (619, 'dyer', 'sal', 0.13),
 (622, 'dyer', 'rad', 7.8),
 (622, 'dyer', 'sal', 0.09),
 (734, 'pb', 'rad', 8.41),
 (734, 'lake', 'sal', 0.05),
 (734, 'pb', 'temp', -21.5),
 (735, 'pb', 'rad', 7.22),
 (735, None, 'sal', 0.06),
 (735, None, 'temp', -26.0),
 (751, 'pb', 'rad', 4.35),
 (751, 'pb', 'temp', -18.5),
 (751, 'lake', 'sal', 0.1),
 (752, 'lake', 'rad', 2.19),
 (752, 'lake', 'sal', 0.09),
 (752, 'lake', 'temp', -16.0),
 (752, 'roe', 'sal', 41.6),
 (837, 'lake', 'rad', 1.46),
 (837, 'lake', 'sal', 0.21),
 (837, 'roe', 'sal', 22.5),
 (844, 'roe', 'rad', 11.25)]

In [4]:
# print your query
print(survey['query'])

SELECT *
FROM survey;

In [5]:
# print the result of your query as dataframe
survey['result']

[(619, 'dyer', 'rad', 9.82),
 (619, 'dyer', 'sal', 0.13),
 (622, 'dyer', 'rad', 7.8),
 (622, 'dyer', 'sal', 0.09),
 (734, 'pb', 'rad', 8.41),
 (734, 'lake', 'sal', 0.05),
 (734, 'pb', 'temp', -21.5),
 (735, 'pb', 'rad', 7.22),
 (735, None, 'sal', 0.06),
 (735, None, 'temp', -26.0),
 (751, 'pb', 'rad', 4.35),
 (751, 'pb', 'temp', -18.5),
 (751, 'lake', 'sal', 0.1),
 (752, 'lake', 'rad', 2.19),
 (752, 'lake', 'sal', 0.09),
 (752, 'lake', 'temp', -16.0),
 (752, 'roe', 'sal', 41.6),
 (837, 'lake', 'rad', 1.46),
 (837, 'lake', 'sal', 0.21),
 (837, 'roe', 'sal', 22.5),
 (844, 'roe', 'rad', 11.25)]

The database that we used above is read-only for students.

In this assignment, you will write queries that satisfy the questions and assign them to variables, and the automatic grader will read your queries from these variables and test them.

# Hands on SQLite!
The goal of this assignment is to acquire some basic hands-on skills for SQLite, using the Software Carpentry lessons at [http://swcarpentry.github.io/sql-novice-survey/](http://swcarpentry.github.io/sql-novice-survey/)  

Read and walk through the [10 Topics of the SQL novice tutorial](http://swcarpentry.github.io/sql-novice-survey/). Take notes as you go through the material; in particular, write down your questions if you run into problems or don't understand something. Post questions on Campuswire as needed. Student answers, discussions, and interactions will always be appreciated!

## [2 points] Question 1: Selecting Data

* **Write a query that selects the site names from the `Site` table.** 

If you're not sure about the exact names of tables and/or attributes for the survey database, then check the schema carefully--it's on the Software Carpentry page.

A template cell is provided for you. Don't change the variable name, or automated tests won't be able to read your query.

In [6]:
%%sql
Problem1c_1 <<
-- Replace this comment with your query here and don't change variable name!
select name from Site ;

 * @/home/jovyan/data_readonly/sqlite/databases/survey.db
 * sqlite:////home/jovyan/data_readonly/sqlite/databases/survey.db
Done.
Saving data to local variable Problem1c_1['result']
Saving query to local variable Problem1c_1['query']

[('DR-1',), ('DR-3',), ('MSK-4',)]

In [7]:
# Run this cell to see the expected output of previous query
%sql_expected_output Problem1c_1

[['DR-1'], ['DR-3'], ['MSK-4']]

In [8]:
# Test Q1
# We evaluate your query to see if it yields the expected output.
%sql_evaluate Problem1c_1

## [10 points] Question 2: Sorting and Removing Duplicates 

* **(a) Write a query that selects distinct dates from the `visited` table.**
* **(b) Write a query that displays the full names of the scientists in the `Person` table, ordered by family name.**

### [5 points] Question (2a): 
* **Write a query that selects distinct dates from the `visited` table.** 

Filter out null values to make sure you only get actual dates.

In [9]:
%%sql
Problem1c_2a <<
-- Your query goes here. Don't change variable name.
select DISTINCT dated from visited where dated is not null

 * @/home/jovyan/data_readonly/sqlite/databases/survey.db
 * sqlite:////home/jovyan/data_readonly/sqlite/databases/survey.db
Done.
Saving data to local variable Problem1c_2a['result']
Saving query to local variable Problem1c_2a['query']

[('1927-02-08',),
 ('1927-02-10',),
 ('1930-01-07',),
 ('1930-01-12',),
 ('1930-02-26',),
 ('1932-01-14',),
 ('1932-03-22',)]

In [10]:
# Run this cell to see expected output of previous query
%sql_expected_output Problem1c_2a

[['1927-02-08'],
 ['1927-02-10'],
 ['1930-01-07'],
 ['1930-01-12'],
 ['1930-02-26'],
 ['1932-01-14'],
 ['1932-03-22']]

In [11]:
# Test Q2a
%sql_evaluate Problem1c_2a

### [5 points] Question (2b): 

* **Write a query that displays the full names of the scientists in the `Person` table, ordered by family name.**

In [12]:
%%sql
Problem1c_2b <<
-- Your query goes here. Don't change the variable name.
select personal || " " || family as full_name from Person ORDER BY family

 * @/home/jovyan/data_readonly/sqlite/databases/survey.db
 * sqlite:////home/jovyan/data_readonly/sqlite/databases/survey.db
Done.
Saving data to local variable Problem1c_2b['result']
Saving query to local variable Problem1c_2b['query']

[('Frank Danforth',),
 ('William Dyer',),
 ('Anderson Lake',),
 ('Frank Pabodie',),
 ('Valentina Roerich',)]

In [13]:
# Run this cell to see the expected output of previous query
%sql_expected_output Problem1c_2b

[['Frank Danforth'],
 ['William Dyer'],
 ['Anderson Lake'],
 ['Frank Pabodie'],
 ['Valentina Roerich']]

In [14]:
# Test Q2b
%sql_evaluate Problem1c_2b

## [5 points] Question 3: Filtering  
Normalized salinity readings are supposed to be between 0.0 and 1.0. 
* **Write a query that selects all records from Survey with salinity values outside this range.**

Such “outlier” queries are similar in spirit to our IC denial rules in the Datalog assignment.

In [15]:
%%sql
Problem1c_3 <<
-- Your query goes here. Don't change the variable name.
select * from Survey where quant = "sal" and (reading < 0.0 or reading > 1.0)

 * @/home/jovyan/data_readonly/sqlite/databases/survey.db
 * sqlite:////home/jovyan/data_readonly/sqlite/databases/survey.db
Done.
Saving data to local variable Problem1c_3['result']
Saving query to local variable Problem1c_3['query']

[(752, 'roe', 'sal', 41.6), (837, 'roe', 'sal', 22.5)]

In [16]:
# Run this cell to see the expected output of the previous query
%sql_expected_output Problem1c_3

[['752', 'roe', 'sal', '41.6'], ['837', 'roe', 'sal', '22.5']]

In [17]:
# Test Q3
%sql_evaluate Problem1c_3

## [10 points] Question 4: Calculating New Values  
We note that Valentina Roerich was reporting salinity as percentages, instead of values between 0 and 1!
* **(a) Write a query that returns all of her salinity measurements from the Survey table with the values divided by 100.**  
* **(b) Use UNION to create a consolidated list of salinity measurements in which Roerich’s have been corrected.**

### [5 points] Question (4a)
* **Write a query that returns all of her salinity measurements from the Survey table with the values divided by 100.**

In [18]:
%%sql
Problem1c_4a <<
-- Your query goes here. Don't change the variable name.
SELECT taken, person, quant, reading / 100.00 as corrected_reading from Survey where quant = "sal" and person = "roe"

 * @/home/jovyan/data_readonly/sqlite/databases/survey.db
 * sqlite:////home/jovyan/data_readonly/sqlite/databases/survey.db
Done.
Saving data to local variable Problem1c_4a['result']
Saving query to local variable Problem1c_4a['query']

[(752, 'roe', 'sal', 0.41600000000000004), (837, 'roe', 'sal', 0.225)]

In [19]:
# Run this cell to see expected output of previous query
# Don't worry about floating points not exactly matching. 
# As long as they match upto 3 decimal places, you will get credit.
%sql_expected_output Problem1c_4a

[['752', 'roe', 'sal', '0.41600000000000004'], ['837', 'roe', 'sal', '0.225']]

In [20]:
# Test Q4a
%sql_evaluate Problem1c_4a

### [5 points] Question (4b)
* **Use UNION to combine the corrected records with the existing ones in the Survey table.**

In [30]:
# select taken, person, quant, reading as corrected_reading 
# from Survey 
# where person != "roe" and quant = "sal"

# UNION

# select taken, person, quant, reading / 100.00 as corrected_reading 
# from Survey 
# where person = "roe" and quant = "sal"
# order by taken ASC

In [31]:
%%sql
Problem1c_4b <<
-- Your query goes here. Don't change the variable name.
select taken, person, quant, reading / 100.0 as corrected_reading 
from Survey 
where person == "roe" and quant == "sal"

union

select taken, person, quant, reading as corrected_reading 
from survey 
where quant == "sal" and (person != "roe" or person is null)

 * @/home/jovyan/data_readonly/sqlite/databases/survey.db
 * sqlite:////home/jovyan/data_readonly/sqlite/databases/survey.db
Done.
Saving data to local variable Problem1c_4b['result']
Saving query to local variable Problem1c_4b['query']

[(619, 'dyer', 'sal', 0.13),
 (622, 'dyer', 'sal', 0.09),
 (734, 'lake', 'sal', 0.05),
 (735, None, 'sal', 0.06),
 (751, 'lake', 'sal', 0.1),
 (752, 'lake', 'sal', 0.09),
 (752, 'roe', 'sal', 0.41600000000000004),
 (837, 'lake', 'sal', 0.21),
 (837, 'roe', 'sal', 0.225)]

In [32]:
# Run this cell to see the expected output of the previous query
%sql_expected_output Problem1c_4b

[['619', 'dyer', 'sal', '0.13'],
 ['622', 'dyer', 'sal', '0.09'],
 ['734', 'lake', 'sal', '0.05'],
 ['735', None, 'sal', '0.06'],
 ['751', 'lake', 'sal', '0.1'],
 ['752', 'lake', 'sal', '0.09'],
 ['752', 'roe', 'sal', '0.41600000000000004'],
 ['837', 'lake', 'sal', '0.21'],
 ['837', 'roe', 'sal', '0.225']]

In [33]:
# Test Q4b
%sql_evaluate Problem1c_4b

## [6 points] Question 5: Missing Data
* **Write a query that sorts the records in the `Visited` table by date.**

Omit entries for which the date is not known (i.e., is `null`).

In [34]:
%%sql
Problem1c_5a <<
-- Your query goes here. Don't change the variable name.
-- select .. from .. ; 

select * from Visited where dated is not null

 * @/home/jovyan/data_readonly/sqlite/databases/survey.db
 * sqlite:////home/jovyan/data_readonly/sqlite/databases/survey.db
Done.
Saving data to local variable Problem1c_5a['result']
Saving query to local variable Problem1c_5a['query']

[('619', 'DR-1', '1927-02-08'),
 ('622', 'DR-1', '1927-02-10'),
 ('734', 'DR-3', '1930-01-07'),
 ('735', 'DR-3', '1930-01-12'),
 ('751', 'DR-3', '1930-02-26'),
 ('837', 'MSK-4', '1932-01-14'),
 ('844', 'DR-1', '1932-03-22')]

In [35]:
# Run this cell to see the expected output of the previous query
%sql_expected_output Problem1c_5a

[['619', 'DR-1', '1927-02-08'],
 ['622', 'DR-1', '1927-02-10'],
 ['734', 'DR-3', '1930-01-07'],
 ['735', 'DR-3', '1930-01-12'],
 ['751', 'DR-3', '1930-02-26'],
 ['837', 'MSK-4', '1932-01-14'],
 ['844', 'DR-1', '1932-03-22']]

In [36]:
# Test Q5a
%sql_evaluate Problem1c_5a

## [6 points] Question 6: Aggregation  
* **How many temperature readings did Frank Pabodie record, and what was their average value?**

In [38]:
%%sql
Problem1c_6a <<
-- Your query goes here. Don't change the variable name.
-- select .. from .. ;

select count(*) as count, avg(reading) as avg_tmp 
from Survey where person == "pb" and quant == "temp"

 * @/home/jovyan/data_readonly/sqlite/databases/survey.db
 * sqlite:////home/jovyan/data_readonly/sqlite/databases/survey.db
Done.
Saving data to local variable Problem1c_6a['result']
Saving query to local variable Problem1c_6a['query']

[(2, -20.0)]

In [39]:
# Run this cell to see the expected output of the previous query
%sql_expected_output Problem1c_6a

[['2', '-20.0']]

In [40]:
# Test Q6a
%sql_evaluate Problem1c_6a

## [15 points] Question 7: Combining Data
- **(a) Write a query that lists all radiation readings from the DR-1 site.**
- **(b) Write a query that lists all sites visited by people named “Frank”.**  
- **(c) Write a query that shows each site with exact location (lat, long) ordered by visited date, followed by personal name and family name of the person who visited the site and the type of measurement taken and its reading.**

### [5 points] Question (7a)
- **Write a query that lists all radiation readings from the `DR-1` site. Include an additional column to display the name of the site.**

In [42]:
%%sql
Problem1c_7a <<
-- select .. from .. ; 

select taken, person, quant, reading, site from Survey

join 

Visited on Survey.taken == Visited.id where site == "DR-1" and quant == "rad"

 * @/home/jovyan/data_readonly/sqlite/databases/survey.db
 * sqlite:////home/jovyan/data_readonly/sqlite/databases/survey.db
Done.
Saving data to local variable Problem1c_7a['result']
Saving query to local variable Problem1c_7a['query']

[(619, 'dyer', 'rad', 9.82, 'DR-1'),
 (622, 'dyer', 'rad', 7.8, 'DR-1'),
 (844, 'roe', 'rad', 11.25, 'DR-1')]

In [43]:
# Run this cell to see the expected output of the previous query
# Don't worry about floating points not exactly matching! 
# As long as they match up to 3 decimal places, you will get full credit.
%sql_expected_output Problem1c_7a

[['619', 'dyer', 'rad', '9.82', 'DR-1'],
 ['622', 'dyer', 'rad', '7.8', 'DR-1'],
 ['844', 'roe', 'rad', '11.25', 'DR-1']]

In [44]:
# Test Q7a
%sql_evaluate Problem1c_7a

### [5 points] Question (7b)
- **Write a query that lists all sites visited by people named “Frank”.**

In [47]:
%%sql
Problem1c_7b <<
-- select .. from .. ;

select distinct site 
from visited 
where id in (select taken from Survey where person in (select id from Person where personal == "Frank"))

 * @/home/jovyan/data_readonly/sqlite/databases/survey.db
 * sqlite:////home/jovyan/data_readonly/sqlite/databases/survey.db
Done.
Saving data to local variable Problem1c_7b['result']
Saving query to local variable Problem1c_7b['query']

[('DR-3',)]

In [48]:
# Run this cell to see the expected output of the previous query
%sql_expected_output Problem1c_7b

[['DR-3']]

In [49]:
# Test Q7b
%sql_evaluate Problem1c_7b

### [5 points] Question (7c)
- **Write a query that shows each site with exact location (lat, long) visited date, personal name and family name of the person who visited the site and the type of measurement taken and its reading and ordered by visited date.**

Omit `null` values for visited dates!

In [54]:
%%sql
Problem1c_7c <<
-- select .. from .. ;

select name, lat, long, dated, personal, family, quant, reading from Site as s

join Visited as v on v.site == s.name
join Survey as su on su.taken == v.id
join Person as p on su.person == p.id

where dated is not null

 * @/home/jovyan/data_readonly/sqlite/databases/survey.db
 * sqlite:////home/jovyan/data_readonly/sqlite/databases/survey.db
Done.
Saving data to local variable Problem1c_7c['result']
Saving query to local variable Problem1c_7c['query']

[('DR-1', -49.85, -128.57, '1927-02-08', 'William', 'Dyer', 'rad', 9.82),
 ('DR-1', -49.85, -128.57, '1927-02-08', 'William', 'Dyer', 'sal', 0.13),
 ('DR-1', -49.85, -128.57, '1927-02-10', 'William', 'Dyer', 'rad', 7.8),
 ('DR-1', -49.85, -128.57, '1927-02-10', 'William', 'Dyer', 'sal', 0.09),
 ('DR-3', -47.15, -126.72, '1930-01-07', 'Anderson', 'Lake', 'sal', 0.05),
 ('DR-3', -47.15, -126.72, '1930-01-07', 'Frank', 'Pabodie', 'rad', 8.41),
 ('DR-3', -47.15, -126.72, '1930-01-07', 'Frank', 'Pabodie', 'temp', -21.5),
 ('DR-3', -47.15, -126.72, '1930-01-12', 'Frank', 'Pabodie', 'rad', 7.22),
 ('DR-3', -47.15, -126.72, '1930-02-26', 'Anderson', 'Lake', 'sal', 0.1),
 ('DR-3', -47.15, -126.72, '1930-02-26', 'Frank', 'Pabodie', 'rad', 4.35),
 ('DR-3', -47.15, -126.72, '1930-02-26', 'Frank', 'Pabodie', 'temp', -18.5),
 ('MSK-4', -48.87, -123.4, '1932-01-14', 'Anderson', 'Lake', 'rad', 1.46),
 ('MSK-4', -48.87, -123.4, '1932-01-14', 'Anderson', 'Lake', 'sal', 0.21),
 ('MSK-4', -48.87, -123.4, '1932-01-14', 'Valentina', 'Roerich', 'sal', 22.5),
 ('DR-1', -49.85, -128.57, '1932-03-22', 'Valentina', 'Roerich', 'rad', 11.25)]

In [55]:
# Run this cell to see the expected output of the previous query
%sql_expected_output Problem1c_7c

[['DR-1', '-49.85', '-128.57', '1927-02-08', 'William', 'Dyer', 'rad', '9.82'],
 ['DR-1', '-49.85', '-128.57', '1927-02-08', 'William', 'Dyer', 'sal', '0.13'],
 ['DR-1', '-49.85', '-128.57', '1927-02-10', 'William', 'Dyer', 'rad', '7.8'],
 ['DR-1', '-49.85', '-128.57', '1927-02-10', 'William', 'Dyer', 'sal', '0.09'],
 ['DR-3',
  '-47.15',
  '-126.72',
  '1930-01-07',
  'Anderson',
  'Lake',
  'sal',
  '0.05'],
 ['DR-3',
  '-47.15',
  '-126.72',
  '1930-01-07',
  'Frank',
  'Pabodie',
  'rad',
  '8.41'],
 ['DR-3',
  '-47.15',
  '-126.72',
  '1930-01-07',
  'Frank',
  'Pabodie',
  'temp',
  '-21.5'],
 ['DR-3',
  '-47.15',
  '-126.72',
  '1930-01-12',
  'Frank',
  'Pabodie',
  'rad',
  '7.22'],
 ['DR-3', '-47.15', '-126.72', '1930-02-26', 'Anderson', 'Lake', 'sal', '0.1'],
 ['DR-3',
  '-47.15',
  '-126.72',
  '1930-02-26',
  'Frank',
  'Pabodie',
  'rad',
  '4.35'],
 ['DR-3',
  '-47.15',
  '-126.72',
  '1930-02-26',
  'Frank',
  'Pabodie',
  'temp',
  '-18.5'],
 ['MSK-4',
  '-48.87',
  '-123.4',
  '1932-01-14',
  'Anderson',
  'Lake',
  'rad',
  '1.46'],
 ['MSK-4',
  '-48.87',
  '-123.4',
  '1932-01-14',
  'Anderson',
  'Lake',
  'sal',
  '0.21'],
 ['MSK-4',
  '-48.87',
  '-123.4',
  '1932-01-14',
  'Valentina',
  'Roerich',
  'sal',
  '22.5'],
 ['DR-1',
  '-49.85',
  '-128.57',
  '1932-03-22',
  'Valentina',
  'Roerich',
  'rad',
  '11.25']]

In [56]:
# Test Q7c
%sql_evaluate Problem1c_7c